nav {
  background-color: #4056A2;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed; /* set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */


  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
 * Style for logo
 */
nav span.logo {
  font-family: 'Bungee', sans-serif;
  padding-bottom: 1em;

  display: flex;
  align-self: flex-end;
}

nav label[for=tweet-text] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

nav label[for=tweet-text]:hover {
  cursor: pointer;
}

/*
 * Double-down icon on the right side of the navbar
 */
.fa-angle-double-down{
  color: red;
  font-size: 15px;
  animation: up-and-down 1s linear infinite alternate;

  display: flex;
  justify-content: center;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}