nav {
  background-color: #4056A2;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed; /* set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */


  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span.logo {
  font-family: 'Bungee';
  padding-bottom: 1em;

  display: flex;
  align-self: flex-end;
}

.fa-angle-double-down{
  color: red;

  display: flex;
  justify-content: center;
}