#error-box-empty, #error-box-exceed {
  border-style: solid;
  border-color: red;
  border-width: thick;
  margin: 10px 0;
  display: none;
}

.error-message {
  color: red;
  font-style: oblique;
  font-weight: bold;
  margin: 10px 20px;
}

#submit-box {
  border-style: solid;
  border-color: #0ABAB5;
  border-width: thick;
  margin: 10px 0;
  display: none;
}

.submit-message {
  color: #0ABAB5;
  font-style: oblique;
  font-weight: bold;
  margin: 10px 20px;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-form {
  display: flex;
  flex-direction: column;
}

label[for=tweet-text] {
  font-family: 'Bungee';
  font-weight: bolder;
  font-size: 18px;
}

#tweet-text {
  background-color: #f4f1ec;
  border-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

div.form-submit {
  padding-top: 20px;
  padding-bottom: 20px;
  
  display: flex;
  justify-content: space-between;
}

#submit-button {
  background-color: #4056A2;
  color: #FFFFFF;
  font-family: 'Bungee';
  padding: 2px 10px 2px 10px;
}

.counter {
  font-family: 'Bungee';

  display: flex;
  align-items: center;
}