.tweet-post-container {
  border-style: solid;
  border-width: thick;
}

.tweet-post-container:hover {
  box-shadow: 7px 7px #7FFFD4;
}

.content-header {
  margin: 0px 15px;
  padding: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweeter-name {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.tweeter-id {
  color: #0ABAB5;
}

.tweet-content {
  margin: 24px 15px;
  padding: 0 20px 10px 20px;
}

.content-footer {
  margin: 0 15px;
  padding: 10px 20px 20px 20px;
  border-top-style: solid;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-count {
  font-size: 16px;

  display: flex;
  /* align-items: center; */
}

.footer-icons {
  color: #4056A2;
  font-size: 16px;
  column-gap: 12px;

  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color:#7FFFD4;
}