.tweet-post-container {
  border-style: solid;
  border-width: thick;
}

.tweet {
  margin: 20px 0;
  border-style: double;
  border-color: #ffafcc;
}

.tweet:hover {
  box-shadow: 7px 7px #ffc8dd;
}

.content-header {
  margin: 0px 15px;
  padding: 20px;
  color: #ffafcc;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweeter-name {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.tweet-content {
  color: #b67dd7;
  /* font-weight: bold; */
  margin: 24px 15px;
  padding: 0 20px 10px 20px;
}

.content-footer {
  margin: 0 15px;
  padding: 10px 20px 20px 20px;
  border-top-style: solid;
  border-top-color: #ffafcc;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-count {
  font-size: 16px;
  color: #ffafcc;

  display: flex;
}

.footer-icons {
  color: #ffafcc;
  font-size: 16px;
  column-gap: 12px;

  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color:#dfe7fd;
}